In [55]:
import numpy as np
import pandas as pd

In [56]:
from numpy import log2 as log

In [57]:
eps = np.finfo(float).eps

In [75]:
df = pd.read_csv('./data.csv',index_col = 'RID')
df = df.drop('age', axis=1)
df

     income student credit rating buys computer
RID
1      high      no     excellent           yes
2      high      no          good           yes
3      high      no     excellent            no
4    medium      no     excellent            no
5       low     yes     excellent            no
6       low     yes          good           yes
7       low     yes          good           yes
8    medium      no     excellent           yes
9       low     yes     excellent           yes
10   medium     yes     excellent            no
11   medium     yes          good           yes
12   medium      no          good           yes
13     high     yes     excellent            no
14   medium      no          good            no
15     high     yes     excellent           yes
16   medium      no          good           yes
17      low      no     excellent            no
18   medium      no     excellent            no
19     high     yes          good           yes
20     high      no          good           yes
21      low     yes     excellent            no
22   medium      no     excellent            no
23      low     yes          good           yes
24   medium      no          good           yes
25   medium     yes     excellent            no
26   medium     yes     excellent           yes
27     high     yes     excellent           yes
28      low      no          good            no
29     high     yes     excellent           yes
30      low      no     excellent            no

In [99]:
df['buys computer'].mode().item()

'yes'

In [101]:
def find_entropy(df):
    target_col = df.columns[-1]
    target = df.keys()[-1]
    entropy = 0.0
    values = df[target].unique()
    for value in values:
        fraction = df[target].value_counts()[value]/(len(df[target]))
        entropy += -fraction*np.log2(fraction)
    return entropy

In [102]:
def find_entropy_attribute(df,attribute):
    target = df.keys()[-1]
    target_variables = df[target].unique()
    variables = df[attribute].unique()
    entropy2 = 0.0
    for variable in variables:
        entropy = 0.0
        for target_variable in target_variables:
            num = len(df[attribute][df[attribute]==variable][df[target] == target_variable])
            den = len(df[attribute][df[attribute]==variable])
            fraction = num / (den + eps)
            entropy+=-fraction*np.log2(fraction+eps)
        fraction2 = den/len(df)
        entropy2+=-fraction2*np.log2(fraction2)
    return abs(entropy2)

In [103]:
def find_winner(df,att_list):
    IG = []
    for att in att_list:
        IG.append(find_entropy(df) - find_entropy_attribute(df,att))
    return att_list[np.argmax(IG)]

def get_subtable(df,node,value): # remove that column
    return df[df[node]==value].reset_index(drop=True)

In [104]:
def buildTree(df,att_list,tree=None):
    target = df.keys()[-1]
    
    if len(att_list)==0:
        
        return df[target].mode()[0]

    node = find_winner(df,att_list)
    att_list.remove(node)
    att_values = np.unique(df[node])

    if tree is None:
        tree = {}
        tree[node]={}

    for att_value in att_values:
        subtable = get_subtable(df,node,att_value) # new df
        feat_vals, counts  = np.unique(subtable[target], return_counts = True)
        if len(counts)==1: # pure
            tree[node][att_value] = feat_vals[0]
        else: 
            tree[node][att_value] = buildTree(subtable,att_list.copy())

    return tree

In [105]:
att_list = list(df.keys()[:-1])
att_list

['income', 'student', 'credit rating']

In [108]:
att_list = list(df.keys()[:-1])
t = buildTree(df, att_list)

In [110]:
import pprint
pprint.pprint(t)

{'credit rating': {'excellent': {'student': {'no': {'income': {'high': 'no',
                                                               'low': 'no',
                                                               'medium': 'no'}},
                                             'yes': {'income': {'high': 'yes',
                                                                'low': 'no',
                                                                'medium': 'no'}}}},
                   'good': {'student': {'no': {'income': {'high': 'yes',
                                                          'low': 'no',
                                                          'medium': 'yes'}},
                                        'yes': 'yes'}}}}